/* Form.css */

.form-container {
    width: 45rem;
    margin: auto;
    padding: 20px;
    background-color: #F5F5F5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  

  label {
    display: block;
    margin-bottom: 13px;
    font-weight: bold;
  }
  
  input[type="text"],
  select,
  input[type="color"] {
    width: 97.5%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

.size-padding,
.radius-width,
.arrow-size {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.radius-width label,
.arrow-size label,
.size-padding label {
  width: 45%; 
}

.radius-width label,
.arrow-size label,
.size-padding label,
.radius-width input[type="text"],
.arrow-size input[type="text"],
.size-padding input[type="text"],
.radius-width input[type="color"],
.arrow-size input[type="color"],
.size-padding input[type="color"],
.radius-width select,
.arrow-size select,
.size-padding select {
  width: 94%;
}


.image-properties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.image-dimensions,
.image-corner {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.image-dimensions label,
.image-corner label {
  margin-bottom: 10px;
}