/* Form.css */

.form-container {
    width: 45rem;
    margin: auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  }
  

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  select,
  input[type="color"] {
    width: 97.5%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
 
  /* .size-padding,
  .radius-width,
  .arrow-size {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
   */

 
.size-padding,
.radius-width,
.arrow-size {
  width: 100%; /* Use the full width of the container */
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Apply the following styles to each pair of inputs */

.radius-width label,
.arrow-size label,
.size-padding label {
  width: 45%; /* Adjust the width to fit your design */
}

.radius-width label,
.arrow-size label,
.size-padding label,
.radius-width input[type="text"],
.arrow-size input[type="text"],
.size-padding input[type="text"],
.radius-width input[type="color"],
.arrow-size input[type="color"],
.size-padding input[type="color"],
.radius-width select,
.arrow-size select,
.size-padding select {
  width: 94%; /* Adjust the width to fit your design */
}