/* Form.css */

.form-container {
    width: 45rem;
    margin: auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  select,
  input[type="color"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  select {
    height: 30px;
  }
  
  .size-padding,
  .radius-width,
  .arrow-size {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
 