/* MobileEmulator.css */

.phone-container {
  width: 307.402px;
  height: 631.388px;
  flex-shrink: 0;
  margin: auto;
  border-radius: 28.864px;
  background: #2c2c2c;
  box-shadow: -1.6781489849090576px 0px 4.027557849884033px -2.517223834991455px #212121 inset,
    0px -0.8390744924545288px 3.3562979698181152px 0px #212121 inset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-screen {
  /* position: absolute; */
  width: 280.115px;
  height: 597.004px;
  border-radius: 15px;
  box-shadow: -1.6781489849090576px 0px 4.027557849884033px -2.517223834991455px #212121 inset,
    0px -0.8390744924545288px 3.3562979698181152px 0px #212121 inset;
  background-color: rgb(209, 209, 209);
  position: relative;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgb(248, 248, 248);
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.top-left-button {
  margin-top: 1rem;
}

.top-right-button {
  margin-left:11rem;
  margin-top: -2rem;
}

.bottom-left-button {
  margin-top:28.5rem;
}

.bottom-right-button {
  margin-left:11rem;
  margin-top: -2rem;
}

.center-button {
  margin-top:-18.25rem;
  margin-left: 5.5rem;
}

.example-emoji {
  font-size: 64px;
  width: 64px;
  height: 64px;
}
